/*-------------------- MIXINS --------------------*/
/*-------------------- COlORS VARIABLES --------------------*/
/*-------------------- FONTS --------------------*/
@font-face {
  font-family: Lovelo-bold;
  src: url(../css/fonts/Lovelo/Lovelo_Line_Bold.otf); }

@font-face {
  font-family: Lovelo-light;
  src: url(../css/fonts/Lovelo/Lovelo_Line_Light.otf); }

@font-face {
  font-family: Avenir;
  src: url(../css/fonts/Avenir_Next/AvenirNext_Regular.otf), url(../css/fonts/Avenir_Next/AvenirNext_Bold.otf); }

/*-------------------- CSS ANIMATIONS --------------------*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.delay1 {
  animation-delay: 1s; }

.delay2 {
  animation-delay: 2s; }

.delay3 {
  animation-delay: 3s; }

.delay4 {
  animation-delay: 4s; }

.delay5 {
  animation-delay: 5s; }  

.delay6 {
  animation-delay: 6s; } 

.delay7 {
  animation-delay: 7s; } 

.delay8 {
  animation-delay: 8s; }  

.delay9 {
  animation-delay: 9s; } 
  
.delay10 {
  animation-delay: 10s; } 
/*---------- FADE IN ----------*/
@keyframes fadeIn {
    
  from {
    visibility: hidden;
    opacity: 0; }
  to {
    opacity: 0.5; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 3s; }

/*---------- FADE IN Opacity elements----------*/
@keyframes fadeInOp {
  from {
    visibility: hidden;
    opacity: 0; }
  to {
    opacity: 0.5; } }

.fadeInOp {
  animation-name: fadeInOp;
  animation-duration: 5s; }

/*---------- FADE IN UP ----------*/
@keyframes fadeInUp {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.fadeInUp {
  animation-name: fadeInUp; }

/*-------------------- GLOBAL VARIABLES --------------------*/
html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white; }

body {
  overflow-x:hidden;
  overflow-y: scroll; }

li {
  list-style-type: none; }

p {
  font-family: "Avenir";
  font-size: 1.2em; }

a {
  text-decoration: none;
  color: #DB5E55;
  font-family: "Avenir";
  font-size: 1.2em; }
  a:hover {
    color: #456657;
    cursor: pointer; }

/*-------------------- HEADER --------------------*/
header {
  position: relative; 
  width: 100%;
  height: auto;}

  /*-------------------- NAV --------------------*/
  header .nav-container {
    position: relative;
    width: 90%;
    height: 20%;
    margin: auto;
    padding: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    header .nav-container #logo {
      height: 1em;
      margin: auto;
      position: fixed;
      color: #DB5E55;
      z-index: 50; }
      header .nav-container #logo a {
        text-decoration: none;
        font-family: "Lovelo-bold";
        font-size: 2.3em; }
        .nav-container #logo a:hover {
          color: #456657;
          opacity: .5; }
    header .nav-container .navbar {
      display: flex;
      justify-content: flex-end; }
      header .nav-container .navbar .nav-item {
        padding: 1em;
        padding-bottom: 0; }
        header .nav-container .navbar .nav-item a {
          text-decoration: none;
          font-family: "Avenir";
          font-size: 1.3em;
          font-weight: 300; }
          header .nav-container .navbar .nav-item a:hover {
            color: #456657;}
  /*-------------------- Intro --------------------*/
  header .name {
    width: 100%;
    height: 100%;
    margin-top: 8%;
    margin-bottom: 10%;
    text-align: center;
    z-index: 4;
    position: relative; }
    header .name h1 {
      margin: 0;
      margin-left: -1.5%;
      text-transform: uppercase;
      color: #383838;
      letter-spacing: -8px;
      line-height: 90%;
      text-shadow: 4px 6px 10px rgba(0, 0, 0, 0.5);
      font-family: "Lovelo-light";
      font-size: 12em;
      font-weight: normal; }
    header .name .andrea {
      animation-duration: 5s; }
    header .name .symeon {
      animation-duration: 5s; }
    header .name .webdev {
      margin-left: -2%;
      position: relative;
      z-index: 2;
      color: #456657;
      opacity: .5;
      white-space: nowrap;
      line-height: 59%;
      font-size: 12.7em; }

/*-------------------- MAIN --------------------*/ 
main {
  width: 85%;
  height: auto;
  margin: auto;
/*  margin-top: 5em;
*/  padding: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;}
    main h2 {
      margin-bottom: .5em;
      margin-top: 0;
      position: relative;
      z-index: 2;
      color: #383838;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
      font-family: "Avenir";
      font-size: 3em;
      font-weight: normal; }
    main h3 {
      color: #383838;
      font-family: "Avenir";
      font-size: 1.5em;
      font-weight: bold; }
    main .line {
      position: relative;
      content: "";
      height: 2px;
      width: 1.7em;
      margin-bottom: 2em;
      display: block;
      background: #456657;
      opacity: .5; }
    main ul {
      padding: 0; }
      main ul li {
        font-family: "Avenir"; }

    /*-------------------- ABOUT --------------------*/
    main #about {
      width: 100%;
      height: auto;
      position: relative;
      padding-top: 4.6em;
      /*margin-left: 10em;*/}
      main #about h2 {
        position: relative;
        width: auto;
        height: auto; }
      main #about p {
        width: 60%;
        height: auto;}

    /*-------------------- WORK --------------------*/
    main #work {
      width: 100%;
      height: auto;
      /*margin-left: 5%;*/
      padding-top: 6em;
      margin-bottom: 6em;
      height: auto;}
      main #work #projects li {
        margin-bottom: .5em;}
          main #work #projects li a {
            position: relative;
          text-decoration: none; 
          color:#383838;}
          main #work #projects li a:hover {
            color: #456657;
            opacity: .5; }       

/*-------------------- FOOTER --------------------*/
footer {
  width: 85%;
  height: auto;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 7%;

  /*-------------------- SOCIALS --------------------*/ }
  footer .footer-text {
    width: 60%;
    height: auto;
    position: relative;
    /*margin-left: 10em; */}
    footer .footer-text .line-contact {
      position: relative;
      content: "";
      height: 1px;
      width: 1.4em;
      margin-bottom: 1em;
      display: block;
      background: #383838; }
    footer .footer-text p {
      height: auto;
      /*margin-left: 3%;*/
      color: #383838;
      padding-bottom: 4em; }
  footer .social-links {
    width: 40%;
    height: auto;
    position: relative;
    text-align: right;
    padding-top: 1em; }
    footer .social-links ul {
      margin-bottom: 0; }
      footer .social-links ul li {
        display: inline-flex; }
        footer .social-links ul li a {
          padding: 1em;
          padding-bottom: 0;
          padding-right: 0;
          text-decoration: none;
          font-size: 1em; }
          footer .social-links ul li a:hover {
            color: #456657;
            opacity: .5; }

/*-------------------- MEDIA QUERIES --------------------*/
@media only screen and (max-width: 1950px) {
  body {
    font-size: 1em; }
  header .name h1 {
    font-size: 15em; }
  header .name .webdev {
    font-size: 15em; } }

@media only screen and (max-width: 1700px) {
  header .name .webdev {
    font-size: 14em; } }

@media only screen and (max-width: 1600px) {
  header .name .webdev {
    font-size: 13em; } }

@media only screen and (max-width: 1500px) {
  header .name h1 {
    font-size: 11em; }
  header .name .webdev {
    font-size: 12.5em; } }

@media only screen and (max-width: 1450px) {
  header .name h1 {
    font-size: 11em; }
  header .name .webdev {
    font-size: 11.95em; } }

@media only screen and (max-width: 1400px) {
  header .name h1 {
    font-size: 11em; }
  header .name .webdev {
    font-size: 11.5em; } }

@media only screen and (max-width: 1350px) {
  header .name h1 {
    font-size: 11em; }
  header .name .webdev {
    font-size: 11em; } }

@media only screen and (max-width: 1300px) {
  header .name h1 {
    font-size: 11em; }
 header .name .webdev {
    font-size: 11em; } }

@media only screen and (max-width: 1250px) {
  html, body {
    font-size: .975em; }
   header .name h1 {
      font-size: 11em; }
   header .name .webdev {
      font-size: 10.7em; } }

@media only screen and (max-width: 1200px) {
  html, body {
    font-size: .975em; }
   header .name h1 {
      font-size: 11em; }
   header .name .webdev {
      font-size: 10.7em; } }

@media only screen and (max-width: 1150px) {
  html, body {
    font-size: .95em; }
   header .name h1 {
      font-size: 11em; }
    header .name .webdev {
      font-size: 11em; }}

@media only screen and (max-width: 1100px) {
  html, body {
    font-size: .95em; }
    header .name h1 {
      font-size: 11em; }
    header .name .webdev {
      font-size: 10.2em; } }

@media only screen and (max-width: 1050px) {
  html, body {
    font-size: .895em; }
    header .name h1 {
      font-size: 11em; }
    header .name .webdev {
      font-size: 11em; }}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1000px) {
  html, body {
    font-size: .9em;
    line-height: 1.5; }
    header .name h1 {
      font-size: 10em; }
    header .name .webdev {
      font-size: 9.1em; }
  main h2 {
    font-size: 2.5em; }
  main #contact p {
    margin-right: 7%; } }


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  html, body {
    font-size: .8em; }
    header .name h1 {
      font-size: 11em; }
    header .name .webdev {
      font-size: 10em; }}

@media only screen and (max-width: 700px) {
  header .name h1 {
    font-size: 10em; }
  header .name .webdev {
    font-size: 9.3em; }}

@media only screen and (max-width: 650px) {
  header .name h1 {
    font-size: 10em; }
  header .name .webdev {
    font-size: 8.7em; }}

/* Extra small devices */
@media only screen and (max-width: 600px) {
  html, body {
    font-size: .7em; }
  p {
    font-size: 1.5em; }
  main #about p {
    width: 100%;
    height: auto;}
  footer {
    display: block;}
      footer .social-links {
        text-align: left;}
        footer .social-links ul {
        padding: 0;}
        footer .social-links ul li {
          display: block; }
          footer .social-links ul li a{
        padding: 0;}
      }

@media only screen and (max-width: 550px) {
  header .name .webdev {
    font-size: 10em; }
    header .navbar {
      visibility: hidden;}}

@media only screen and (max-width: 500px) {
  header .name .webdev {
    font-size: 9em; }
    header .navbar {
      visibility: hidden;}
  footer .footer-text {
      width: 100%}}

@media only screen and (max-width: 450px) {
  header .name h1 {
    font-size: 9em; }
    header .navbar {
      visibility: hidden;}
  header .name .webdev {
    font-size: 8.5em; }
  }

@media only screen and (max-width: 400px) {
  header .name .webdev {
    font-size: 7.7em; }
    header .navbar {
      visibility: hidden;}

@media only screen and (max-width: 375px) {
  header .name .webdev {
    font-size: 7.6em; }
    header .navbar {
      visibility: hidden;}


@media only screen and (max-width: 320px) {
  header .name .webdev {
    font-size: 9.1em; }
    header .navbar {
      visibility: hidden;}

